@font-face {
  font-family: 'Sincerely';
  src: url('../fonts/Sincerely.woff');
}

* { box-sizing: border-box; }
a { cursor: pointer; }

.bag {
  background: url('../img/bags/danny2.png') no-repeat center;
  background-size: contain;
  width: 70%;
  margin: 0 auto;
  height: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letters {
  height: 30%;
}
.letters img {
  height: 100%;
}

.letters-input {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  text-indent: 0;
}

.swatches {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 10%;
}
.swatch {
  width: 33.3333%;
  text-align: center;
}
.swatch img {
  border-radius: 50%;
  border: 5px solid black;
  width: 80%;
  cursor: pointer;
}
.swatch.active img {
  opacity: 1;
  border-color: hotpink;
}
.tabs {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 1em 0;
  display: flex;
  justify-content: center;
}
.tabs a {
  display: block;
  width: 25vw;
  height: 13vw;
  position: relative;
  top: 1px;
  margin: 0 10px;
  border-radius: 10px 10px 0 0;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.tabs a img {
  height: 40%;
}
.tabs a.active {
  background-color: white;
  border-bottom: 0;
  opacity: 1;
}
.tabs a.active img {
  height: 69%;
}

.custom-script {
  font-family: 'Sincerely', sans-serif;
  font-size: 2em;
}
