   @font-face {
       font-family: 'Sincerely';
       src: url('../fonts/Sincerely.woff');
   }
   
   body,
   html {
       height: 100%;
       width: 100%;
       display: block;
       margin: 0;
   }
   
   #customBarHeaderMain {
       display: block;
       height: 10%;
   }
   
   .custombar-header-text-wrapper {
       height: 100%;
       width: 100%;
       text-align: center;
       display: table;
   }
   
   .custombar-header-text-wrapper span {
       height: 100%;
       text-align: center;
       vertical-align: middle;
       display: table-cell;
   }
   
   #customBarSectionMain {
       display: block;
       height: 90%;
   }
   
   .main-custombar-container {
       display: block;
       width: 100%;
       height: 100%;
       text-align: center;
   }
   
   .main-bag-container {
       display: block;
       position: relative;
       width: 70%;
       left: 15%;
       background: url('../img/bags/danny2.png') no-repeat;
       background-size: contain;
       background-position: center;
   }
   
   .main-letters-container {
       display: block;
       position: relative;
       width: 100%;
       text-align: center;
   }
   
   .letters-wrapper {
       display: block;
       position: relative;
       width: 100%;
       height: 26.25%;
       top: 30%;
       text-align: center;
       overflow: hidden;
   }
   
   .bag-letter-sub-wrapper {
       text-align: center;
       display: flex;
       flex-direction: row;
       justify-content: center;
       height: 100%;
       width: 100%;
       table-layout: fixed;
   }
   
   .bag-letter {
       text-align: center;
       height: 100%;
   }
   
   .bag-letter:first-child {
       background: none;
   }
   
   .bag-letter:last-child {
       background: none;
   }
   
   .bag-letter-img-container {
       display: flex;
       flex-direction: row;
       justify-content: center;
       position: relative;
       width: 100%;
       text-align: center;
   }
   
   .bag-letter img {
       position: relative;
       text-align: center;
       width: auto;
       height: 100%;
       display: none;
   }
   
   #bagLetter1 {
       display: none;
   }
   
   #bagLetter2 {
       display: none;
   }
   
   .main-customization-container {
       width: 100%;
   }
   
   .letters-input-wrapper {
       height: 10%;
       width: 100%;
       display: table;
       text-align: center;
       margin-bottom: 5px;
   }
   
   #letters-input {
       border: 1px solid black;
       display: table-cell;
       vertical-align: middle;
       height: 100%;
       width: 20%;
       text-align: center;
       text-transform: uppercase;
   }
   
   .letters-customization-wrapper {
       display: block;
       width: 100%;
       height: 90%;
       background: white;
   }
   
   .custom-letter-container {
       display: table;
       height: 100%;
       width: 100%;
       table-layout: fixed;
   }
   
   .letter-color-letter {
       display: table-cell;
       height: 50%;
       background: black;
       color: white;
       text-align: center;
       vertical-align: middle;
       border-bottom: 1px solid black;
       opacity: 0.5;
       -webkit-border-top-right-radius: 10%;
       -moz-border-top-right-radius: 10%;
       -ms-border-top-right-radius: 10%;
       -o-border-top-right-radius: 10%;
       border-top-right-radius: 10%;
       -webkit-border-top-left-radius: 10%;
       -moz-border-top-left-radius: 10%;
       -ms-border-top-left-radius: 10%;
       -o-border-top-left-radius: 10%;
       border-top-left-radius: 10%;
   }
   
   .letter-color-letter.active {
       border-top: 1px solid black;
       border-left: 1px solid black;
       border-right: 1px solid black;
       border-bottom: none;
       background: white;
       color: black;
       opacity: 1;
   }
   
   .letter-color-letter img {
       height: 100%;
       width: auto;
   }
   
   .letter-table-buffer {
       display: table-cell;
       width: 40%;
       height: 100%;
       border-bottom: 1px solid black;
   }
   
   .letter-swatch-container {
       height: 70%;
       width: 100%;
       display: block;
   }
   
   .swatch-row {
       display: table;
       width: 100%;
       height: 20%;
       margin-top: 5%;
       table-layout: fixed;
       overflow: hidden;
   }
   
   .swatch-wrapper {
       display: table-cell;
       width: 100%;
       height: 20%;
       vertical-align: middle;
   }
   
   .swatch-wrapper-buffer {
       display: table-cell;
       width: 50%;
   }
   
   .swatch-image-wrapper {
       display: table;
       position: relative;
       table-layout: fixed;
       height: 50%;
       width: 70%;
       left: 15%;
       text-align: center;
   }
   
   .swatch-image-border {
       display: table-cell;
       width: 80%;
       height: 50%;
       -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
       -ms-border-radius: 100%;
       -o-border-radius: 100%;
       border-radius: 100%;
       overflow: hidden;
       background: black;
       border: 5px solid black;
   }
   
   .swatch-image-border.active {
       border: 5px solid pink;
   }
   
   .swatch-image-border img {
       display: block;
       width: 100%;
       height: auto;
   }
   
   .custom-script {
       font-family: 'Sincerely', sans-serif;
       font-size: 2em;
   }
   
   .reg-tm {
       font-size: 0.5em
   }