/*

  Shopify overrides

  */

.active {
  background: none;
}

.active img {
  border: 0 !important;
}

.section-title {
  padding: 0;
  border: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.bag-color-thumb img {
  max-width: none;
}


/*

  Our styles

*/

@font-face {
  font-family: 'Sincerely';
  src: url('../fonts/Sincerely.woff');
}

@font-face {
  font-family: AvenirLT-Medium;
  src: url('../fonts/AvenirNextRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextRegular.woff') format('woff'), url('../fonts/AvenirNextRegular.ttf') format('truetype'), url('../fonts/AvenirNextRegular.svg#AvenirNextRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: AvenirLT-Heavy;
  src: url('../fonts/Ave-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/Ave-Heavy.woff') format('woff'), url('../fonts/Ave-Heavy.ttf') format('truetype'), url('../fonts/Ave-Heavy.svg#Ave-Heavy') format('svg');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}

#customBarHeaderMain {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1%;
  height: 10%;
  max-height: 2vh;
}

#customBarSectionMain {
  display: none;
  height: 65vh;
  width: 100%;
  min-width: 291px;
  overflow: scroll;
}

#styleViewSection {
  display: block;
  position: relative;
  height: 85%;
  width: 100%
}

.section-title h1,
.custom-script {
  font-family: 'Sincerely', sans-serif;
  font-size: 2em;
}

@media only screen and (min-width: 769px) {
  .section-title h1 {
    text-align: left;
  }
  #content {
    padding-bottom: 2em;
  }
}

.only-mobile {
  display: block !important;
}

.only-desktop {
  display: none !important;
}

@media only screen and (min-width: 769px) {
  .only-desktop {
    display: block !important;
  }
  .only-mobile {
    display: none !important;
  }
}


/* Displayed Bag */

.bag-custom-trim {
  background: url('../img/trims/dani-trim-rickrack-blue.png') no-repeat center;
  background-size: contain;
  width: 100%;
  margin: 0 auto;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bag-custom-tassel {
  background: url('../img/tassels/dani-tassel-rickrack-blue.png') no-repeat center;
  background-size: contain;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bag-custom.dani {
  background: url('../img/bags/dani-black.png') no-repeat center;
  background-size: contain;
  width: 100%;
  margin: 0 auto;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bag-custom.dani-beach {
  background: url('../img/bags/dani-burlap-base-natural.png') no-repeat center;
  background-size: contain;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-height: 43vh;
}

.letters {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: auto;
}

.letters img {
  height: 100%;
  width: auto;
}

.letter {
  cursor: pointer;
}

.fa.fa-arrow-right {
  margin-right: 2%;
}

.fa.fa-arrow-left {
  margin-left: 2%;
}

.left-arrow-animating {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation: left-arrow-pulse 1s infinite ease-in-out both;
  animation: left-arrow-pulse 1s infinite ease-in-out both;
}

.right-arrow-animating {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation: right-arrow-pulse 1s infinite ease-in-out both;
  animation: right-arrow-pulse 1s infinite ease-in-out both;
}

input[type="text"].letters-input {
  font-family: AvenirLT-Heavy;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-indent: 0;
  width: 4em;
  height: 100%;
  margin: 0!important;
  max-height: 5vh;
}


/* Tabs */

.tab-cnr {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid black;
  height: 7%;
  max-height: 5vh;
}

.tab-back {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
  height: 100%;
  padding: 5px 0;
  background: #505050;
  border-bottom: 1px solid black;
  -webkit-border-top-right-radius: 10%;
  -moz-border-top-right-radius: 10%;
  -ms-border-top-right-radius: 10%;
  -o-border-top-right-radius: 10%;
  border-top-right-radius: 10%;
  -webkit-border-top-left-radius: 10%;
  -moz-border-top-left-radius: 10%;
  -ms-border-top-left-radius: 10%;
  -o-border-top-left-radius: 10%;
  border-top-left-radius: 10%;
}

.tab-back-all,
.tab-back-tassel,
.tab-back-trim {
  color: white;
  font-family: AvenirLT-Heavy;
  padding: 0;
}

.tab-back-trim,
.tab-back-tassel {
  background: black;
}

.tab-back-all span,
.tab-back-tassel span,
.tab-back-trim span {
  position: relative;
  top: -20px;
}

.tab-back-all.active,
.tab-back-tassel.active,
.tab-back-trim.active {
  color: black;
}

.tab-back.active {
  background: lightgray;
  top: 2px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.tab-back-trim.active,
.tab-back-tassel.active {
  background: #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}

.tab {
  height: 70%;
  width: auto;
}

.tab-all,
.tab-tassel,
.tab-trim {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Editing palette */

.letter-label {
  height: 7.5%;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 769px) {}


/* Swatches */

.swatches {
  height: 17.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
  border-width: 0 1px 1px 1px;
  background: lightgray;
  max-height: 8vh;
}

.swatch {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 90%;
  width: auto;
  padding: 0 1%;
}

.swatch img {
  border-radius: 50%;
  border: 2px solid gray;
  height: 110%;
  cursor: pointer;
}

.swatch.active img {
  opacity: 1;
  border: 2px solid black !important;
}

.letter-material-cnr {
  display: flex;
  position: relative;
  left: 0px;
  flex-direction: column;
  height: 80%;
}

.letter-material {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: AvenirLT-Heavy;
  font-size: 50%;
  height: 50%;
  border: 1px solid black;
  border-radius: 10%;
  padding: 5%;
  background: black;
  color: white;
}

.letter-material.active {
  background: white;
  color: black;
}

@media only screen and (min-width: 769px) {}


/* bag style */

.bag-style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.bag-style-thumbs-cnr {
  display: block;
  Height: 20%;
}

.bag-style-thumb {
  height: 50%;
}

.bag-style-thumb img {
  height: 90%;
}

.bag-style-cnr {
  height: 40%;
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.bag-style-main {
  background: url('../img/bags/dani-black.png') no-repeat center;
  background-size: contain;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bag-style-details-thumb-cnr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
}

.bag-style-details-thumb {
  height: 25%;
}

.bag-style-details-thumb img {
  height: 90%;
}


/* Bag Color */

.bag-color-thumbs-cnr {
  display: block;
  height: 15%;
  width: 100%;
}

.bag-color {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.bag-color-thumb {
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  margin: 0 3px;
}

.bag-color-thumb img {
  height: 90%;
}


/* Custom Bar Nav*/

#custombarNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
}

.show-custom-bar,
.back-to-bag-styles,
.check-my-custom-out {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 5px solid white;
  font-size: 2em
}

.show-custom-bar {
  display: none;
  background: black;
  color: white;
  width: 100%;
}

.back-to-bag-styles {
  display: none;
  width: 50%;
  background: grey;
  color: white;
}

.check-my-custom-out {
  display: none;
  width: 50%;
}


/* Loader from http://tobiasahlin.com/spinkit/ */

.spinner {
  width: 70px;
  text-align: center;
}

.spinner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 22px;
  margin: auto;
  z-index: 1;
}

.spinner>div {
  width: 18px;
  height: 18px;
  background-color: white;
  border: 1px solid #dad9d9;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


/* Custom Animations */

@-webkit-keyframes right-arrow-pulse {
  50% {
    margin-right: 5%;
  }
  100% {
    margin-right: 2%;
  }
}

@keyframes right-arrow-pulse {
  50% {
    margin-right: 5%;
  }
  100% {
    margin-right: 2%;
  }
}

@-webkit-keyframes left-arrow-pulse {
  50% {
    margin-left: 5%;
  }
  100% {
    margin-left: 2%;
  }
}

@keyframes left-arrow-pulse {
  50% {
    margin-left: 5%;
  }
  100% {
    margin-left: 2%;
  }
}


/* IE styles https://stackoverflow.com/questions/27703455/loading-css-stylesheet-only-for-ie11 */

@media screen and (min-width:0\0) {
  .bag-color {
    text-align: center;
  }
  input[type="text"].letters-input {
    height: auto;
    min-height: 100%;
  }
  .swatches {
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }
  .swatch {
    position: relative;
    top: 5%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
  .swatch img {
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
}

#testLink {
  background: url('../img/material-swatches/swatch-hotpink.png') no-repeat center;
}

.select {
  display: none;
}